html,
body,
#root,
.App {
  height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: 微軟正黑體;
}
@media print {
  html{
    height:auto;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
}
